<nav class="navbar">
    <a>
    <img style="margin-top: 15px" src="assets/layout/images/Rectangle%2032.png"/>
    </a>
    <a>
    <img style="margin-left: 29px" src="assets/layout/images/Rectangle%2033.png"/>
    </a>

    <ul>
      <li style="font-weight: 800"><a>About</a></li>
      <li *ngFor=" let menu of menus">
        <a>{{menu}}</a></li>
    </ul>
</nav>


<div class="headline"
      gdAreas="header header | side content | footer footer"
     gdGap="16px"
     gdRows="auto auto auto"
     gdAreas.lt-md="header | side | content | footer"
     gdRows.lt-md="auto auto auto auto">
  <div gdArea="header" class="title">
    Save your data storage here
  </div>
  <div gdArea="side" class="text">
    Data warehouse is a data storage area that has been tested for security, so you can store your data here
    safely but not be afraid of being stolen by other
  </div>
  <div gdArea="content" class="imagem">
    <img src="assets/layout/images/card1.png"/>
  </div>
  <div gdArea="footer" class="botao">
    <p class="textbotao">Learn More</p>
  </div>
</div>
