<div class="container2"
  gdAreas="header header | content  side  "
     gdGap="16px"
     gdRows="auto auto auto"
     gdAreas.lt-md="header | side | content | footer"
     gdRows.lt-md="auto auto auto auto"
style=" background: rgba(255, 208, 238, 0.4); border-radius: 3em">

  <div gdArea="side">
    <a class="title">We are a High-level data storage bank</a>
    <a class="texto">the place to store various data that you can acess at any time through the internet and where you
     can carry it.
    This very flexible storage area has a high level of security. To enter into your own data you must enter the passowrd
    that you created when you registered in this Data Warehouse</a>
  </div>
  <div gdArea="content" class="sideleft">
    <img src="assets/layout/images/card2.png"/>
  </div>
</div>
