<div class="container3">
  <div class="titleContainer">
    <div class="title">
      <a >Features</a>
    </div>
    <div class=" subTitle">
      <a>Some of the features and advantages that we provide for
        those of you who store data in this Data Warehouse</a>
    </div>
  </div>

  <div *ngFor="let card of cards"
    class="{{card.littleContainer}}"
       fxLayoutGap="20px"
    gdAreas="header header | content  side | footer footer  "
       gdGap="5px"
       gdRows="auto auto auto"
       gdAreas.lt-md="header | side | content | footer"
       gdRows.lt-md="auto auto auto auto"
       >

    <a class="titleLittleContainer">{{card.header}}</a>
    <a class="textLittleContainer">{{card.text}}</a>
    <img class="{{card.elipse}}" *ngIf="card.elipse" src="assets/layout/images/elipseCard31.png">
    <img class="retangulo" src="{{card.retangulo}}">
    <img class="{{card.vector}}" *ngIf="card.vector" src="assets/layout/images/Vector%2056.png">
    <img class="{{card.elipseG}}" *ngIf="card.elipseG" src="assets/layout/images/EllipseG.png">
    <div gdArea="content"  >
      <img class="imagemContainer" src="{{card.img}}"/>
    </div>
    <div gdArea="footer" class="botao3">
      <p class="textbotao">Learn More</p>
    </div>
  </div>

</div>
