.title {
  margin: 20px;
  font-family: 'Nunito', 'sans-serif';
  font-size: 30px;
  font-weight: bold;
  display: flex;
}

.subTitle {
  word-break: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
